@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background: #D3CCE3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#cabecera, #footer {
	background-color: #282548;
	/*background-color: black;*/
	color: white;
}

#bellow {
	background-color: #282548;
	color: #282548;
	display: block;
}

.down {
	top: 19px;
    z-index: 99;
    border-radius: 0 0 15px 15px;
}

.up {
	top: -21px;
    z-index: 99;
    border-radius: 15px 15px 0 0 ;
}

#nombremateria {
	font-family: 'Fredoka One', cursive;
}

#footertext {
	font-size: 20pt;
	font-family: 'Fredoka One', cursive;
}

#tipo {
	/*left: 24px;
    top: 10px;*/
	font-family: 'Mali', cursive;
	/*color: #e36f3e;*/
	/*background-image: url('../img/sticker.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;*/
}

#left{
	background-color: #bed84e;
}

#right {
	background-color: #ecb031;
}

.headerso {
	background-color: #2c9e45;
	font-family: 'Fredoka One', cursive;
	color: white;
}

.headerso-e {
	background-color: #c76421;
	font-family: 'Fredoka One', cursive;
	color: white;
}

.so {
	background-color: #80c342;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	border-radius: 0 0 10px 10px;
	color: white;
}

.so-e{
	background-color: #d49068;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	border-radius: 0 0 10px 10px;
	color: white;
}

#teamenglish {
	background-color: #a0b71a;
	color: white;
	font-family: 'Fredoka One', cursive;
}

#teamespanol {
	background-color: #d84536;
	color: white;
	font-family: 'Fredoka One', cursive;
}



.glyph-icon svg {
	width:16px;
	height:16px;
}

.si-glyph * {
		fill: #FEC91A;
}

.si-glyph2 * {
		fill: #005B88;
}

@media (min-width: 768px) { 
		.container{
			width: 60%;
		}
}