alembic==1.0.11
amqp==2.5.0
aniso8601==6.0.0
appdirs==1.4.3
Babel==2.7.0
beautifulsoup4==4.8.0
beckett==0.8.0
blinker==1.4
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
clickclick==1.2.2
client==0.0.1
connexion==2.3.0
debtcollector==1.21.0
decorator==4.4.0
Django==2.2.4
dnspython==1.16.0
dogpile.cache==0.7.1
et-xmlfile==1.0.1
eventlet==0.25.0
extras==1.0.0
fasteners==0.15
fcache==0.4.7
fixtures==3.0.0
Flask==1.1.1
Flask-Admin==1.5.3
Flask-BabelEx==0.9.3
Flask-Cors==3.0.8
Flask-Enterprise==1.0
Flask-Excel==0.0.7
Flask-GraphQL==2.0.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
flask-mongoengine==0.9.5
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-Seeder==0.1a2
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
futurist==1.8.1
gluon==1.1.0
graphene==2.1.7
graphene-sqlalchemy==2.2.1
graphql-core==2.2.1
graphql-relay==2.0.0
graphql-server-core==1.1.1
graphqlclient==0.2.4
greenlet==0.4.15
idna==2.8
inflect==0.2.5
inflection==0.3.1
iso8601==0.1.12
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jsonschema==2.6.0
keystoneauth1==3.15.0
keystonemiddleware==7.0.0
kombu==4.6.3
linecache2==1.0.0
lml==0.0.9
logutils==0.3.5
lxml==4.4.0
Mako==1.1.0
MarkupSafe==1.1.1
mongoengine==0.18.2
monotonic==1.5
msgpack==0.6.1
netaddr==0.7.19
netifaces==0.10.9
numpy==1.17.0
openapi-spec-validator==0.2.8
openpyxl==2.5.14
os-service-types==1.7.0
oslo.cache==1.37.0
oslo.concurrency==3.29.1
oslo.config==6.11.0
oslo.context==2.22.1
oslo.db==5.0.1
oslo.i18n==3.23.1
oslo.log==3.44.0
oslo.messaging==9.8.0
oslo.middleware==3.38.1
oslo.policy==2.2.0
oslo.serialization==2.29.1
oslo.service==1.40.0
oslo.utils==3.41.0
oslo.versionedobjects==1.36.0
pandas==0.25.0
passlib==1.7.1
Paste==3.1.0
PasteDeploy==2.0.1
pbr==5.4.2
pecan==1.3.3
pokepy==0.6.0
prettytable==0.7.2
promise==2.2.1
pycadf==2.9.0
pyexcel==0.5.15
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.7
pymongo==3.8.0
pyparsing==2.4.2
PySimpleSOAP==1.16.2
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
python-etcd==0.4.5
python-keystoneclient==3.20.0
python-mimeparse==1.6.0
pytz==2019.2
PyYAML==5.1.2
repoze.lru==0.7
requests==2.21.0
rfc3986==1.3.2
Routes==2.4.1
Rx==1.6.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
soaplib==2.0.0b2
soupsieve==1.9.2
speaklater==1.3
-e git+https://github.com/arskom/spyne.git@efaea226a0dcacc4b112c0154880963801f7dcfd#egg=spyne
SQLAlchemy==1.0.19
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
statsd==3.3.0
stevedore==1.30.1
suds==0.4
suds-jurko==0.6
swagger-ui-bundle==0.0.5
Tempita==0.5.2
testresources==2.0.1
testscenarios==0.5.0
testtools==2.3.0
texttable==1.6.2
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.24.3
vine==1.3.0
virtualenv==16.7.2
waitress==1.3.0
WebOb==1.8.5
WebTest==2.0.33
Werkzeug==0.15.5
wrapt==1.11.2
WSME==0.9.3
WTForms==2.2.1
xlrd==1.2.0
xlwt==1.3.0
xmltodict==0.12.0
yappi==1.0
