@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#cabecera, #footer {
	background-color: #001a43;
	/*background-color: black;*/
	color: white;
}

#logofiec, #logoespol {
	width: 85%;
}

#logofiec {
	-webkit-filter: invert(1);
  filter: invert(1);
}

#bellow {
	background-color: #001a43;
	color: #282548;
	display: block;
}

.down {
	top: 19px;
    z-index: 99;
    border-radius: 0 0 15px 15px;
}

.up {
	top: -21px;
    z-index: 99;
    border-radius: 15px 15px 0 0 ;
}

#nombremateria {
	font-family: 'Fredoka One', cursive;
}

#footertext {
	font-family: 'Fredoka One', cursive;
}

#tipo {
	/*left: 24px;
    top: 10px;*/
	font-family: 'Mali', cursive;
	/*color: #e36f3e;*/
	/*background-image: url('../img/sticker.png');
	background-repeat: no-repeat;
	background-size: 300px 100px;*/
}

#left{
	background-color: #bed84e;
}

#right {
	background-color: #ecb031;
}

.headerso {
	background-color: #2c9e45;
	font-family: 'Fredoka One', cursive;
	color: white;
}

.headerso-e {
	background-color: #c76421;
	font-family: 'Fredoka One', cursive;
	color: white;
}

.so {
	background-color: #80c342;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	border-radius: 0 0 10px 10px;
	color: white;
}

.so-e{
	background-color: #d49068;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	border-radius: 0 0 10px 10px;
	color: white;
}

#teamenglish {
	background-color: #a0b71a;
	color: white;
	font-family: 'Fredoka One', cursive;
}

#teamespanol {
	background-color: #d84536;
	color: white;
	font-family: 'Fredoka One', cursive;
}



.glyph-icon svg {
	width:16px;
	height:16px;
}

.si-glyph * {
		fill: #FEC91A;
}

.si-glyph2 * {
		fill: #005B88;
}

@media (min-width: 768px) { 
		.container{
			width: 60%;
		}
}

